@model List<WebBeerApp.Models.Beer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Beers List</h2>


<table id="beers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Beer</th>
            <th>Style</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var beer in Model)
        {
            <tr>
                <td>@beer.Name</td>
                <td>@beer.StyleType.Name</td>
            </tr>
        }*@
    </tbody>
</table>



@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#beers").DataTable({
                ajax: {
                    url: "/api/beer",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name",
                        render: function (data, type, beer) {
                            return "<a href='/beer/details/" + beer.Id + "'>" + beer.Name +"</a>" 
                        }
                        
                    },
                    {
                        data: "StyleType.Name"
                    }
                ]
            });

        });
    </script>
}